<?xml version="1.0" encoding="UTF-8"?>
<suite name="main-suite" thread-count="3" parallel="test" verbose="6">
<!-- 	<test name="main-test">
		<classes>
			<class name="com.hybridFramework.testcases.HomePageTCs"/>
		</classes>
	</test> -->
	
<!-- 	<test name="testName">
		<classes>
			<class name="com.suit.classname">
				<methods>
        			<include name="methodName" />
				</methods>
			</class>
		</classes>
	</test> -->
</suite>